.charts {
    &__block {
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__button {
    width: 200px;
    height: 40px;
    background-color: #008cff;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    margin: 30px 0 30px 300px;
    
    @media (max-width: 768px) {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
}

.songs-list {
    padding-top: 46px;
    margin-right: 40px;
    
    &__item {
        height: 102px;
        padding: 16px 16px 16px 0;
        border-bottom: 1px solid #f4f4f4;
        
        &::after {
            background-image: #fff;
            position: absolute;
            @include size(30px);
            top: 0;
            left: 0;
            content: '';
            opacity: 1;
        }

        &:hover {
            background-color: #fafafa;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        position: relative;

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 73 24' style='width:73px;height:24px;'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23242424' d='M11.993 0C5.37 0 0 5.371 0 12c0 6.627 5.368 12 11.993 12h49.014C67.63 24 73 18.629 73 12c0-6.627-5.368-12-11.993-12H11.993z'%3E%3C/path%3E%3Cg fill='%23FFF'%3E%3Cpath d='M18.286 7.88c.391-.492.657-1.153.587-1.828-.573.028-1.273.38-1.678.873-.363.421-.685 1.11-.601 1.757.643.056 1.286-.323 1.692-.802M18.866 8.809c-.935-.056-1.73.533-2.176.533-.446 0-1.13-.505-1.868-.492-.962.015-1.855.561-2.343 1.43-1.004 1.74-.265 4.32.711 5.737.474.7 1.046 1.472 1.799 1.445.711-.029.99-.463 1.855-.463.864 0 1.115.463 1.868.449.781-.015 1.27-.702 1.744-1.403.544-.799.766-1.57.78-1.613-.014-.014-1.506-.59-1.52-2.314-.014-1.444 1.172-2.131 1.228-2.174-.67-.995-1.716-1.107-2.078-1.135M32.659 17.374V9.632h-.05l-3.156 7.742h-1.204l-3.163-7.742h-.05v7.742h-1.48V6.854h1.878l3.388 8.384h.058l3.38-8.384h1.886v10.52H32.66M42.327 17.374h-1.501v-1.298h-.037c-.42.919-1.196 1.437-2.364 1.437-1.661 0-2.677-1.087-2.677-2.844V9.704h1.567v4.66c0 1.166.551 1.793 1.632 1.793 1.132 0 1.814-.788 1.814-1.983v-4.47h1.566v7.67M46.621 9.566c1.777 0 2.93.991 2.981 2.406H48.13c-.087-.744-.631-1.21-1.509-1.21-.849 0-1.414.415-1.414 1.028 0 .48.348.809 1.175.998l1.24.285c1.56.364 2.155.977 2.155 2.085 0 1.4-1.299 2.362-3.098 2.362-1.908 0-3.054-.94-3.199-2.399h1.552c.146.802.69 1.196 1.647 1.196.943 0 1.523-.394 1.523-1.02 0-.496-.282-.788-1.117-.978l-1.24-.291c-1.45-.336-2.169-1.036-2.169-2.15 0-1.372 1.19-2.312 2.945-2.312M50.987 17.374h1.567v-7.67h-1.567v7.67zm-.123-9.696c0-.503.406-.904.907-.904.5 0 .9.4.9.904a.902.902 0 0 1-.9.904.908.908 0 0 1-.907-.904zM59.169 12.344c-.16-.817-.77-1.466-1.792-1.466-1.211 0-2.01 1.014-2.01 2.661 0 1.684.806 2.661 2.025 2.661.964 0 1.595-.532 1.777-1.421h1.509c-.167 1.633-1.466 2.741-3.301 2.741-2.183 0-3.605-1.502-3.605-3.98 0-2.436 1.422-3.974 3.59-3.974 1.966 0 3.163 1.269 3.301 2.778h-1.494'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            position: absolute;
            width: 75px;
            height: 25px;
            top: 23px;
            right: -100px;
            content: '';
            opacity: 0;

            @media (max-width: 768px) {
                top: 45px;
            }
        }

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 58 58' style='enable-background:new 0 0 58 58;' xml:space='preserve'%3E%3Ccircle style='fill:%23A7A7A7;' cx='29' cy='7' r='7'/%3E%3Ccircle style='fill:%23A7A7A7;' cx='29' cy='51' r='7'/%3E%3Ccircle style='fill:%23A7A7A7;' cx='29' cy='29' r='7'/%3E%3Ccircle style='fill:%23A7A7A7;' cx='29' cy='7' r='7'/%3E%3Ccircle style='fill:%23A7A7A7;' cx='29' cy='51' r='7'/%3E%3Ccircle style='fill:%23A7A7A7;' cx='29' cy='29' r='7'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
            position: absolute;
            @include size(18px);
            top: 25px;
            right: -132px;
            content: '';
            opacity: 0;
        }
        

        &:hover {
            &::before {
                transition: .3s;
                right: 60px;
                opacity: 1;

                @media (max-width: 768px) {
                    right: 30%;
                    top: 45px;
                }
            }
            &::after {
                transition: .3s;
                right: 24px;
                opacity: 1;

                @media (max-width: 768px) {
                    right: 0px;
                }
            }
        }
    }

    &__number {
        font-size: 20px;
        font-weight: 700;
        width: 60px;
        text-align: center;
    }

    &__img {
        @include size(70px);
        border-radius: 4px;
    }

    &__title {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        height: 70px;

        @media (max-width: 768px) {
            justify-content: flex-start;
        }

        &--title {
            color: #242424;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &--subtitle {
            color: #949494;

            @media (max-width: 768px) {
                column-width: 100px;
                height: 30px;
                overflow: hidden;
            }
        }
    }

    &__svg {

        &--apple {
            width: 75px;
            height: 25px;
            top: 33%;
            right: 60px;

            
        }
        &--dots {
            color: #b3b3b3;
            top: 37%;
            right: 24px;
        }
    }
}

.charts-list {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    &__title {
        font-size: 30px;
        font-weight: 700;
        padding: 60px 0 14px;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
    
    &__bg
    {
        width: 320px;
        height: 150px;

        &:hover {
            filter: brightness(0.95);
        }

        &--1 { @include bg-shape('../images/chart-discovery.png');}
        &--2 { @include bg-shape('../images/chart-country.png'); .charts-list__text--title {color: #0654ff}}
        &--3 { @include bg-shape('../images/chart-global.png'); .charts-list__text--title {color: #0cf}}
    }

    &__text {
        font-weight: 700;
        padding: 0 15px 2px;
        
        &--title {
            padding-top: 15px;
            font-size: 28px;
        }

        &--subtitle {
            font-size: 18px;
        }
    }


}