.songs-list {
    padding-top: 46px;
    
    &__item {
        height: 102px;
        padding: 16px 16px 16px 0;
        border-bottom: 1px solid #f4f4f4;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
    }

    &__number {
        font-size: 20px;
        font-weight: 700;
        width: 60px;
        text-align: center;
    }

    &__img {
        @include size(70px);
        border-radius: 4px;
    }

    &__title {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        font-size: 16px;

        &--title {
            color: #242424;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &--subtitle {
            color: #949494;

        }
    }
}

.charts-list {
    &__title {
        font-size: 30px;
        font-weight: 700;
        padding: 60px 0 14px;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
    
    &__bg
    {
        width: 320px;
        height: 150px;

        &:hover {
            filter: brightness(0.95);
        }

        &--1 { @include bg-shape('../images/chart-discovery.png');}
        &--2 { @include bg-shape('../images/chart-country.png'); .charts-list__text--title {color: #0654ff}}
        &--3 { @include bg-shape('../images/chart-global.png'); .charts-list__text--title {color: #0cf}}
    }

    &__text {
        font-weight: 700;
        padding: 0 15px 2px;
        
        &--title {
            padding-top: 15px;
            font-size: 28px;
        }

        &--subtitle {
            font-size: 18px;
        }
    }


}